@font-face {
	font-family: 'GalanoGrotesque';
	src: url(../../assets/fonts/GalanoGrotesque.woff2) format('woff2'),
	url(../../assets/fonts/GalanoGrotesque.woff) format('woff');
	font-weight: bold;
	font-style: normal;
}